textarea {
	height: auto;
	resize: vertical;
}  

#username_text {
	color:aqua;
}

.input-group-append {
	cursor: pointer;
}

@media screen and (min-width: 676px) {
	.modal-dialog {
	  max-width: 600px; /* New width for default modal */
	}
}

@media screen and (min-width: 800px) {
	.modal-dialog {
	  max-width: 800px; /* New width for default modal */
	}
}